// .light:hover {
//     opacity: 0.6;
// }

.form-button {

    a:hover {
        color: white;
    }

    .button {
        box-shadow: 0 10px 10px $MEDIUM_GREY;
        display: block;
        width: 220px;
        border: none;
        border-radius: 100px;
        height: 50px;
        color: white;
        cursor: pointer;
        font-size: 1.01em;
        font-weight: 500;
        background-image: linear-gradient(to top left, $COLOR_PRIMARY, $COLOR_SECONDARY);
        transition: transform 300ms, background-image 1500ms 150ms;

        &:hover {
            background-image: linear-gradient(to top left, $COLOR_SECONDARY, $COLOR_PRIMARY);
            transform: $SCALE;
        }
    }
}

.restaurants__results {

    #heart1, #heart2, #heart3, #heart4{
        display: none;

        &:checked + label {
            background-image: linear-gradient(to bottom, $COLOR_PRIMARY, $COLOR_SECONDARY);
            -webkit-text-stroke-color: transparent;
            will-change: font-size;
            animation: pulse 0.5s ease-in;
        }
    }

    label[for=heart1], label[for=heart2], label[for=heart3], label[for=heart4] {
        cursor: pointer;
        position: relative;
        right: 0;
        top: 0;
        margin: 10px 10px 0 0;
        padding: 5px;
        color: transparent;
        font-size: 1.5em;
        transition: transform 300ms, background-image 300ms 150ms;
        -webkit-text-stroke: 1px;
        -webkit-text-stroke-color: black;
        -webkit-background-clip: text;

        &:hover {
            background-image: linear-gradient(to bottom, $COLOR_PRIMARY, $COLOR_SECONDARY);
            animation: pulse 0.5s ease-in infinite;
            -webkit-text-stroke-color: transparent;
        }

        &::selection {
            color: none;
            background: transparent;
        }
    }
}

@keyframes pulse {
    25% {transform: scale(0.9);}
    75% {transform: scale(1.1);}
}