.howto {
    &-stepping {
        margin-top: 25px;

        &__item {
            @include flexbox(flex, nowrap, row);
            @include flexitem(1, 1);
            box-shadow: 2px 5px 12px 0px $high-grey;
            font-weight: 600;
            font-size: 0.9em;
            height: 75px;
            line-height: 20px;
            max-width: 400px;
            border: none;
            border-radius: 20px;
            background-color: $light-grey;
            margin: 0 20px 22px 15px;
            align-items: center;
            cursor: pointer;

            &::before {
                transform: translate(-12px);
                width: 25px;
                height: 25px;
                line-height: 25px;
                text-align: center;
                border-radius: 50%;
                background-color: $color-primary;
                color: white;
                font-weight: normal;
                font-size: 0.9em;
            }
            
            &__1 {
                &::before { content: "1"; }
            }
            &__2 {
                &::before { content: "2"; }
            }
            &__3 {
                &::before { content: "3"; }
            }

            &__icon {
                width: 20px;
                height: 30px;
                line-height: 30px;
                margin:20px;
                color: $xhigh-grey;

                i {
                    width: 1em;
                    height: 1em;
                    margin: 0;
                    padding: 0;
                }
            }

            &:hover {
                background-color: $color-primary-light;

                i {
                    color: $color-primary;
                }
            }
        }
    }
}