$headings: 'Shrikhand';
$texts: 'Roboto', sans-serif;

* {
    font-family: $texts;
}

body {
    

    & a:link, a:visited     {
        text-decoration: none;
        color: inherit;
    }

    & a:hover {
        color: $color-primary;
    }

    & a:active {
        color: $color-secondary;
    }
}

p, h1, h2, h3, h4 {
    margin: 0;
}

ul {
    list-style-type : none;
    margin: 0;
    padding: 0;
}

footer {
    color:$white;
}

.footer-title {
    font-family: $headings !important;
    font-size: 1.1em;
}

