.howto {
    margin-top: 50px;
    margin-left: 20px;
    margin: 50px 0 45px 20px;

    &-stepping {
        @include flexbox(flex, wrap, row, space-between);
        width: 100%;
        margin-top: 25px;
    }
}

.restaurants {
    margin: auto;
    background-color: $LIGHT_GREY;
    width: 100%;
    padding: 53px 20px;

    &__results {
        margin: 25px 0 50px 0;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-template-rows: auto;
        grid-gap: 15px;
    }
}