main {
    @include flexbox(flex, nowrap, column);
}

.picture {
    @include flexbox(flex);
    // z-index: 1;
    // position: fixed;
    width: 100%;
    height: 300px;
    margin-bottom: -65px;
    margin-top: 50px;
    // max-height: 250px;

    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        flex: 1 0;
    }
}

.menu {
    @include flexbox(flex, nowrap, column);
    z-index: 2;
    background-color: $LIGHT_GREY;
    border-radius: 50px 50px 0 0;
    padding: 30px 15px 0 15px;
    position: relative;

    &__title {
        @include flexbox(flex, nowrap, row);
        align-items: center;
        font-family: $HEADINGS !important;
        font-size: 1.1em;
        margin: 0 -5px 0 5px;

        h1 {
            margin-right: 20px;
        }
    }

    h2 {
        text-transform: uppercase;
        margin: 28px 10px -5px 5px;
        font-size: 1em;
    }

    &-underline {
        width: 40px;
        border: 2px solid $COLOR_TERTIARY;
        margin: 10px 10px 15px 5px;
    }

    &-cards {
        @include flexbox (flex, wrap, row, center);
        margin-bottom: -10px;

        // @media (max-width: $MENU) {
        //     @include flexbox(flex, wrap, column, center);//////////////// POURQUOI CENTER FONCTIONNE PAS ????
        //     // align-items: center;
        // }
        
        &__item {
            @include flexbox (flex);
            box-shadow: 2px 5px 12px 0px $HIGH_GREY;
            height: 68px;
            flex: 1 1 100%;
            // max-width: 550px;
            border: none;
            border-radius: 15px;
            background-color: white;
            margin-bottom: 14px;
            cursor: pointer;
            overflow: hidden;
            align-items: center;

            &__content {
                @include flexbox (flex, nowrap, row, space-between);
                // flex: 0 0 100%;/////////////// POURQUOI PAS FLEX ????????????
                width: 100%;
                padding: 20px 18px 20px 10px;
                align-items: end;
                overflow: hidden;

                &__text {
                    @include flexbox (flex, nowrap, column);
                    // flex: 1 1 100%;/////////////// POURQUOI PAS FLEX ????????????
                    width: 100%;

                    >* {
                        // flex: 1 1;/////////////// POURQUOI PAS FLEX ????????????
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                }

                &__price {
                    font-weight: bold;
                }
            }

            &--check {
                @include flexbox (flex, nowrap, null, center);
                flex: 0 0 0;
                height: 100%;
                background: $COLOR_TERTIARY;
                overflow: hidden;
                transition: all 0.2s linear;
                color: white;
                font-size: x-large;
                align-items: center;
                text-align: center;
            }

            &:hover &--check {
                flex-basis: 55px;
            }
        }        
    }
}