/*COLORS*/

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$white: #fff;
$black: #000;
$dark-grey: rgb(53, 53, 53);
$medium-grey: rgb(234, 234, 234);
$light-grey: rgb(246, 246, 246);

/*ALIGNMENTS*/

//$text-align-center: center;