.form {
    @include flexbox(flex, wrap, column, space-between);
    background-color: $light-grey;
    align-items: center;
    text-align : center;
    width: 100%;
    position: static;
    margin-top: 63px;

    &-search {
        background-color: $medium-grey;
        width: 100%;
        padding: 15px 0;

        > * {
            color: $dark-grey;
        }

        > input {
            border: none;
            background: none;
            margin-left: 10px;

            &::placeholder {
                opacity: 1;
            }
        }
    }

    &-text {
        margin: 30px;
    }

    &-button {
        margin-bottom: 50px;
    }
}